.similar {
  &__title {
    font-size: 24px;
    font-weight: 600;
    padding: 60px 0 40px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }
  &__card {
    &__img {
      background-color: #edf2f4;
      border-radius: 10px;

      img {
        width: 100%;
        object-fit: contain;
        padding: 30px;
      }
    }

    &__info {
      padding: 14px 0;

      h4 {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 8px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
